body {
    font-family: "Montserrat";
    background-color: lightpink;
}

.card__info {
    width: 50%;
    
}

.card__info--up {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10% 5% 0 0;
}

img {
    image-rendering: optimizeSpeed;
    border-radius: 100%;
    width: 20%;
}

.card__info--down {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}